# Visual Studio
.vs/
.vscode/
*.user
*.suo

# Build output
bin/
obj/

# Publish output
publish/

# Logs
*.log

# Temporary files
*.tmp

#setup creator file
RGDSCaptureSetup.iss

#block any generated, unpolished exes from getting pushed. 

Output/